
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding: 20px;
    background-color: #a7dae4; 
    color: #000000; 
}


h1, h2, h3 {
    font-family: 'Georgia', serif; 
    color: #2c3e50; 
    margin-top: 20px;
    margin-bottom: 10px;
}


h1 {
    font-size: 32px;
    text-align: center; 
    margin-bottom: 30px; 
}

h2,h3 {
    font-size: 24px;
    margin-top: 40px; 
    border-bottom: 2px solid #2c3e50; 
    padding-bottom: 5px; 
}


p {
    font-style: italic; 
    color: #7f8c8d;
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.8; 
}

h2 + p {
    font-style: italic; 
    color: #7f8c8d; 
}

h2:nth-of-type(2) + p {
    padding: 10px;
    border-radius: 5px;
    font-weight: bold; 
}


h2 + p > strong {
    color: #e74c3c; 
}


a {
    color: #2980b9; 
    text-decoration: none; 
}

a:hover {
    text-decoration: underline; 


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #2c3e50;
    color: white;
    text-align: left;
}

td {
    background-color: #ecf0f1;
}


code {
    font-family: 'Courier New', Courier, monospace;
    
    padding: 2px 5px;
    border-radius: 3px;
}


blockquote {
    background-color: #ecf0f1;
    border-left: 5px solid #2980b9;
    margin: 20px 0;
    padding: 10px 20px;
    font-style: italic;
}
li {
    
        font-style: italic; 
        color: #7f8c8d;
        font-size: 16px;
        margin-bottom: 20px;
        line-height: 1.8; 
    
}


@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }
}
